<style>
    body {
        background: <%= @color %>;
    }

</style>
<h1>About Me!</h1>
<p>Lots of interesting stuff about me...</p>

</hr>

My shoe size is <%= @size %> 
<% if @size.to_i > 12 %>
    BIG FOOT !!
<% end %>
</br>

<%= link_to "Home", '/?welcome=You came from the About page!'%>


Your favorite color: <%= @color%>
